@use '../../../styles/color' as color;
@use '../../../styles/typography' as typo;
@use '../../../styles/layout' as layout;

.container {
    @include layout.container;
}

.empty {
    text-align: center;
    padding: 64px 16px;

    p {
        font-size: typo.$font-size-xl;
        color: color.$text-secondary;
        margin-bottom: 16px;
    }

    a {
        color: color.$neutral-yellow-color;
        font-weight: typo.$font-weight-semibold;

        &:hover {
            text-decoration: underline;
        }
    }
}

.grid {
    @include layout.grid-products;
}
